---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Home">
    <section class="hero">
        <div class="hero-content">
            <h1>Welcome to The Missing Semester</h1>
            <p>Equipping CS freshmen with essential skills beyond the curriculum.</p>
            <a href={import.meta.env.BASE_URL + "/about"} class="cta-button">Learn More</a>
        </div>
    </section>
</MainLayout>

