---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Resources">
    <h1>Welcome to The Missing Semester</h1>
    <p>Preparing freshmen for success in computer science.</p>
</MainLayout>
