---
const navItems = [
    { name: 'Home', url: '/missingsemester/' },
    { name: 'About', url: '/missingsemester/about' },
    { name: 'Resources', url: '/missingsemester/resources' },
    { name: 'Contact', url: '/missingsemester/contact' },
];
---

<nav>
    <ul>
        {navItems.map(item => (
            <li><a href={item.url}>{item.name}</a></li>
         ))}
    </ul>
</nav>
